* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 400px;
}
.weather-app {
	font-family: 'Montserrat';
	font-weight: regular;
    font-size: 20px;
    margin: 30px 50px;
    height: 100%;
    padding: 10px;  
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.search-bar {
    padding: 8px;
    font-family: 'Montserrat';
	font-weight: regular;
    font-size: 15px;
    border-radius: 15px;
    border: none
}

.search-button {
    padding: 8px;
    font-family: 'Montserrat';
	font-weight: regular;
    font-size: 15px;
    border-radius: 15px;
    border: none
}

.weather-card {
    display: flex;
	flex-direction: column;
}

p {
    padding: 2px;
}

.icon {
	margin-top: 70px;
}

.description {
	font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
	font-weight: bold;
}

.forecast {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px dashed;
}
.forecast:last-child {
	border-bottom: none;
}

.forecast-text {
	margin: 4px 0 5px 0;
}

@media (min-width: 436px) {
	.weather-app {
		max-width: 436px;
	}
}
